In [3]:
import pandas as pd
import data_cleanup as dc

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2024-01-01 00:00:00,-1.9,-3.1,-0.6,0.0,NaN,NaN,16.9,39.0,1020.8,NaN
1,2024-01-02 00:00:00,0.0,-1.5,1.5,0.0,NaN,NaN,26.0,50.0,1018.6,NaN
2,2024-01-03 00:00:00,2.0,0.8,3.1,0.0,NaN,NaN,25.2,42.0,1014.3,NaN
3,2024-01-04 00:00:00,-2.0,-5.8,1.8,0.0,NaN,NaN,25.6,58.0,1022.3,NaN
4,2024-01-05 00:00:00,-0.7,-1.9,0.6,0.0,NaN,NaN,24.5,45.0,1024.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27 00:00:00,1.8,0.9,2.7,0.0,NaN,NaN,28.6,52.0,1025.2,NaN
362,2024-12-28 00:00:00,4.5,2.0,7.0,0.4,NaN,NaN,16.1,37.0,1016.9,NaN
363,2024-12-29 00:00:00,5.5,0.9,10.0,21.5,NaN,NaN,20.2,55.0,1006.4,NaN
364,2024-12-30 00:00:00,5.2,2.7,7.7,1.4,NaN,NaN,35.3,68.0,998.4,NaN
365,2024-12-31 00:00:00,1.9,-1.3,5.1,1.6,NaN,NaN,19.9,50.0,1005.8,NaN

In [ ]:
toronto_weather = pd.read_csv('./kaggle_data/toronto.csv')
toronto #prints toronto weather data

In [ ]:
beli = pd.read_csv('./kaggle_data/toronto.csv')
toronto #prints toronto weather data